### Question 1 Pandas Version

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.0'

### Question 2 Records count

In [8]:
# df = pd.read_csv('car_fuel_efficiency.csv')
df = pd.read_csv('car_fuel_efficiency.csv')
# pd.read_csv('car

In [9]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

### Question 3 Fuel types

In [11]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [12]:
df['fuel_type'].nunique()

2

### Question 4 Missing values

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

### Question 5 Max fuel efficiency

In [14]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

### Question 6 Median value of horsepower

Find the median value of the `horsepower` column in the dataset.
in.

In [15]:
median_hp = df['horsepower'].median()
median_hp

149.0

In [16]:
df['horsepower'].isnull().sum()

708

In [17]:
df['horsepower'].value_counts()

horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
46.0       1
43.0       1
53.0       1
66.0       1
61.0       1
Name: count, Length: 192, dtype: int64

In [18]:
df['horsepower'] = df['horsepower'].fillna(median_hp)

In [19]:
df['horsepower'].median()

149.0

### Question 7 Sum of weights

In [20]:
# Select all the cars from Asia

df_asia = df['origin'] == 'Asia'

In [21]:
# Select only columns vehicle_weight and model_year
# Select the first 7 values

df_asia_2 = df[['vehicle_weight','model_year']].head(7)

In [22]:
df_asia_2

   vehicle_weight  model_year
0     3413.433759        2003
1     3149.664934        2007
2     3079.038997        2018
3     2542.392402        2009
4     3460.870990        2009
5     2484.883986        2008
6     3006.542287        2012

In [23]:
import numpy as np

In [24]:
X = df_asia_2.to_numpy()

XT = X.T
XT

array([[3413.43375861, 3149.66493422, 3079.03899737, 2542.39240183,
        3460.87098999, 2484.88398604, 3006.54228722],
       [2003.        , 2007.        , 2018.        , 2009.        ,
        2009.        , 2008.        , 2012.        ]])

In [25]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

XTX = XT.dot(X)

In [26]:
# Invert XTX

XTX_inv = np.linalg.inv(XTX)

In [27]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [28]:
w = np.linalg.multi_dot([XTX_inv, XT, y])
w

array([0.07099685, 0.41931263])

In [29]:
w.sum()

0.4903094879707409